<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- ['documento', 'apellido', 'descDistrito',
      'numDistrito', 'tipo_org', 'dependencia',
      'escuela', 'reg']; -->
  
  <!-- Documento Column -->
  <ng-container matColumnDef="documento">
    <th mat-header-cell *matHeaderCellDef> Documento. </th>
    <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
  </ng-container>

  <!-- Apellido Column -->
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
  </ng-container>

  <!-- descDistrito Column -->
  <ng-container matColumnDef="descDistrito">
    <th mat-header-cell *matHeaderCellDef> Descripcion distrito </th>
    <td mat-cell *matCellDef="let element"> {{element.descDistrito}} </td>
  </ng-container>

  <!-- numDistrito Column -->
  <ng-container matColumnDef="numDistrito">
    <th mat-header-cell *matHeaderCellDef> Numero distrito </th>
    <td mat-cell *matCellDef="let element"> {{element.numDistrito}} </td>
  </ng-container>


  <!-- tipo_org Column -->
  <ng-container matColumnDef="tipo_org">
    <th mat-header-cell *matHeaderCellDef> Tipo org. </th>
    <td mat-cell *matCellDef="let element"> {{element.tipo_org}} </td>
  </ng-container>

  <!-- dependencia Column -->
  <ng-container matColumnDef="dependencia">
    <th mat-header-cell *matHeaderCellDef> Dependencia </th>
    <td mat-cell *matCellDef="let element"> {{element.dependencia}} </td>
  </ng-container>

  <!-- escuela Column -->
  <ng-container matColumnDef="escuela">
    <th mat-header-cell *matHeaderCellDef> Escuela </th>
    <td mat-cell *matCellDef="let element"> {{element.escuela}} </td>
  </ng-container>

  <!-- reg Column -->
  <ng-container matColumnDef="reg">
    <th mat-header-cell *matHeaderCellDef> Reg </th>
    <td mat-cell *matCellDef="let element"> {{element.reg}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
      (click)="selection.toggle(row)" 
      [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
      (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
  </tr>
</table>


<div class="boton">
<button mat-raised-button (click)="buscarPersona()">BUSCAR</button> 
<button mat-raised-button (click)="cancelar()">CANCELAR</button>
</div>