<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- 
    'select', 'secuencia', 'periodo', 'fechaafec',
       'foja', 'cargo', 'opag' , 'fpago', 'liquido', 'dep' , 'dis', 'tor', 'escu'
  -->


 

  

  <!-- SECUENCIA Column -->
  <ng-container matColumnDef="secuencia">
    <th mat-header-cell *matHeaderCellDef> SECUENCIA </th>
    <td mat-cell *matCellDef="let element"> {{element.secuencia}} </td>
  </ng-container>


   <!-- PERIODO Column -->
   <ng-container matColumnDef="periodo">
    <th mat-header-cell *matHeaderCellDef> PERIODO </th>
    <td mat-cell *matCellDef="let element"> {{element.periodo}} </td>
  </ng-container>

  <!-- FECHA AFEC Column -->
  <ng-container matColumnDef="fechaafec">
    <th mat-header-cell *matHeaderCellDef> FECHA AFEC </th>
    <td mat-cell *matCellDef="let element"> {{element.fechaafec}} </td>
  </ng-container>

  
  

  <!-- FOJA Column -->
  <ng-container matColumnDef="foja">
    <th mat-header-cell *matHeaderCellDef> FOJA </th>
    <td mat-cell *matCellDef="let element"> {{element.foja}} </td>
  </ng-container>

   <!-- OPAG Column -->
   <ng-container matColumnDef="opag">
    <th mat-header-cell *matHeaderCellDef> OPAG </th>
    <td mat-cell *matCellDef="let element"> {{element.opag}} </td>
  </ng-container>

  <!-- FPAGO Column -->
  <ng-container matColumnDef="fpago">
    <th mat-header-cell *matHeaderCellDef> FPAGO </th>
    <td mat-cell *matCellDef="let element"> {{element.fpago}} </td>
  </ng-container>



  <!-- LIQUIDO Column -->
  <ng-container matColumnDef="liquido">
    <th mat-header-cell *matHeaderCellDef> LIQUIDO </th>
    <td mat-cell *matCellDef="let element"> {{element.liquido}} </td>
  </ng-container>

   

  <!-- CARGO Column -->
  <ng-container matColumnDef="cargo">
    <th mat-header-cell *matHeaderCellDef> CARGO </th>
    <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
  </ng-container>

  <!-- DEP Column -->
  <ng-container matColumnDef="dep">
    <th mat-header-cell *matHeaderCellDef> APELLIDO </th>
    <td mat-cell *matCellDef="let element"> {{element.dep}} </td>
  </ng-container>

  <!-- DIS Column -->
  <ng-container matColumnDef="dis">
    <th mat-header-cell *matHeaderCellDef> DIS </th>
    <td mat-cell *matCellDef="let element"> {{element.dis}} </td>
  </ng-container>

  <!-- TOR Column -->
  <ng-container matColumnDef="tor">
    <th mat-header-cell *matHeaderCellDef> TOR </th>
    <td mat-cell *matCellDef="let element"> {{element.tor}} </td>
  </ng-container>


  <!-- ESCU Column -->
  <ng-container matColumnDef="escu">
    <th mat-header-cell *matHeaderCellDef> ESCU </th>
    <td mat-cell *matCellDef="let element"> {{element.escu}} </td>
  </ng-container>

 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>

BOTONES

<div class="boton">
  <button mat-raised-button (click)="imprimir()">IMPRIMIR</button> 
  <button mat-raised-button (click)="cancelar()">CANCELAR</button>
  </div>